## Peer-graded Assignment Week 3 Part1

### Setting up the environment

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
print('Libraries imported.')

Libraries imported.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = urlopen(url).read().decode('utf-8')
soup = BeautifulSoup(page, 'html.parser')
wiki_table = soup.body.table.tbody

### Extracting data from table to data frame

In [3]:
def get_cell(element):
    cells = element.find_all('td')
    row = []
    for cell in cells:
        if cell.a:            
            if (cell.a.text):
                row.append(cell.a.text)
                continue
        row.append(cell.string.strip())   
    return row

In [4]:
def get_row():    
    data = []  
    for tr in wiki_table.find_all('tr'):
        row = get_cell(tr)
        if len(row) != 3:
            continue
        data.append(row)        
    return data

In [5]:
data = get_row()
columns = ['Postcode', 'Borough', 'Neighborhood']
df = pd.DataFrame(data, columns = columns)
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
df.shape

(287, 3)

### Cleaning the messy string in the borough column

In [7]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Ignoring cells with a borough Not assigned

In [8]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop = True)
df.head(10)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A      Queen's Park      Not assigned
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

### Combining Neighborhoods based on similar Postcode and borough

In [9]:
df = df.groupby(['Postcode', 'Borough'])['Neighborhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighborhood']
df.head(10)

  Postcode      Borough                                   Neighborhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

### Removing any space in the start of the string

In [10]:
df['Neighborhood'] = df['Neighborhood'].str.strip()

### Assigning Borough values to the Neignbourhood where vlaue is Not assigned

In [11]:
df.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']

In [12]:
# Check if the Neighborhood for Queen's Park changed 
df[df['Borough'] == 'Queen\'s Park']

   Postcode       Borough  Neighborhood
93      M9A  Queen's Park  Queen's Park

In [13]:
# Check the shape of the data frame
df.shape

(103, 3)

### Save this file to a csv

In [14]:
df.to_csv(r'df_toronto.csv')